mixin feedback-card()
  section.feedback
    .container
      .feedback__inner
        h2.h2__title Есть вопросы?
        p.t Напишите нам на почту. Ответим в течении дня
        form
          input(type="text")
          input(type="text")
          input(type="checkbox")
          +btn('Отправить').btn

