mixin books-min-card(img, title, descr, price)
  .book-min-card__inner
    .book-min-card__img
      img(src= img)
    .book-min-card__info
      .book-min-card__title= title
      .book-min-card__descr= descr
      .book-min-card__price= price