extends templates/layout-home.pug

block meta
  title Home
  meta(name='description', content='Home page!')

//- block append head
//-   link(rel="stylesheet", href="some.css")
//-   script(src='some.js')

block nav
  +main-nav('Главная')

block content
  +promo()
  +books()
    +books-min-card()
  +deliv-card()

  +new-books()
    +books-min-card()
    p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. То которое снова своего наш, текстами сих власти правилами домах? Бросил продолжил точках большого своего вершину, они, что выйти злых!
