//- Подключение примесей

include blocks/main-nav/main-nav.pug
include blocks/header/header.pug
include blocks/footer/footer.pug
include blocks/header_icon/header_icon.pug
include blocks/logo/logo.pug
include blocks/promo/promo.pug
include blocks/carousel/carousel.pug
include blocks/books/books.pug
include blocks/books-card/books-card.pug
include blocks/books-min-card/books-min-card.pug
include blocks/deliv-card/deliv-card.pug
include blocks/new-books/new-books.pug
include blocks/contacts/contacts.pug
include blocks/feedback-card/feedback-card.pug
include blocks/btn/btn.pug
include blocks/books__paginator/books__paginator.pug
