mixin header(time)
  header.header
    .container
      .header__inner
        .header__info
          a(href='/index.html')
            +logo
          .header__time
            p= time
        .header__links
          .header__nav
            block
          +header_icon()

